---
title: Build Better Prototypes with Assemble - Advanced
menuLink: Advanced Course
sortOrder: 03
---

{{#extend "tpl-default"}}
	{{#content "body"}}

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				{{#parseJSON '{
					"section-h1": "Assemble Workshop",
					"section-h2": "Template Engine unter der Lupe.",
					"section-content-classes": "is-centered",
					"section-md": "resources/data/de/pages/index/general/Intro.md"
				}'}}
					{{partial "c-section" }}
				{{/parseJSON}}


				{{#parseJSON '{
					"section-h1": "Assemble Syntax",
					"section-h2": "Handlebars.JS als Template-Sprache",
					"section-content-classes": "is-small",
					"section-md": "resources/data/de/pages/index/general/Assemble-Syntax.md"
				}'}}
					{{partial "c-section" }}
				{{/parseJSON}}


				<section>
					{{#parseJSON '{
						"section-h1": "Assemble Layouts",
						"section-h2": "Seitentemplates in Assemble",
						"section-content-classes": "is-two-columns",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h1": "Assemble Layouts",
						"section-h2": "Einführung in Standard Layouts",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Standards.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}
				</section>

				<section>
					{{#parseJSON '{
						"section-h1": "Assemble Extended Layouts",
						"section-h2": "Überblick",
						"section-content-classes": "is-two-columns",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Varianten von Extend",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Variations.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Grunt Einstellungen (Assemble Task)",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Grunt.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Modes",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Modes.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}
				</section>

				{{#parseJSON '{
					"section-h1": "Aufgabe",
					"section-h2": "Grunt Settings",
					"section-class": "is-exercise",
					"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-A01.md"
				}'}}
					{{partial "c-section" }}
				{{/parseJSON}}

				<section>
					{{#parseJSON '{
						"section-h1": "Assemble Extended Layouts",
						"section-h2": "Über Pages extenden",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Variations-Page.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Layout",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Layout.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Anwenden von extends und blocks",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Page-Usage-Structure.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Definierte blocks in Seiten erweitern",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Page-Usage-Header.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}
				</section>

				{{#parseJSON '{
					"section-h1": "Aufgabe",
					"section-h2": "Layouts über Pages extenden",
					"section-class": "is-exercise",
					"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-A02.md"
				}'}}
					{{partial "c-section" }}
				{{/parseJSON}}

				<section>
					{{#parseJSON '{
						"section-h1": "Assemble Extended Layouts",
						"section-h2": "Layouts über Layouts extenden",
						"section-content-classes": "is-small is-centered",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Variations-Base.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Base Layout",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Layout-Usage-Structure.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Sub-Layout",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Layout-Usage-SubLayout.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Page",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-Layout-Usage-Page.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}
				</section>

				{{#parseJSON '{
					"section-h1": "Aufgabe",
					"section-h2": "Layouts über Pages extenden",
					"section-class": "is-exercise",
					"section-md": "resources/data/de/pages/index/layouts/Assemble-Layouts--Extended-A03.md"
				}'}}
					{{partial "c-section" }}
				{{/parseJSON}}

				<section>

					{{#parseJSON '{
						"section-h1": "Assemble Partials",
						"section-h2": "Einfache Partials",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Simple-Partials.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials in Pages",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Simple-Partials__Page.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials Template",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Simple-Partials__Partial.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials Output",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Simple-Partials__Output.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

				</section>


				<section>
					{{#parseJSON '{
						"section-h1": "Assemble Partials",
						"section-h2": "Erweiterte Partials",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Adv-Partials.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials in Pages",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Adv-Partials__Page.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials Template",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Adv-Partials__Partial.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

					{{#parseJSON '{
						"section-h2": "Partials Output",
						"section-content-classes": "is-small",
						"section-md": "resources/data/de/pages/index/partials/Assemble-Adv-Partials__Output.md"
					}'}}
						{{partial "c-section" }}
					{{/parseJSON}}

				</section>

			</div>
		</div>



	{{/content}}
{{/extend}}
